// Custom.scss
// Option B: Include parts of Bootstrap

// Your variable overrides
$body-bg: #fff;
$body-color: #111;

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

$border-radius:               1.25rem;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;


// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded:                              true;
$enable-shadows:                              true;
$enable-gradients:                            true;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-responsive-font-sizes:                true;

@import "../node_modules/bootstrap/scss/bootstrap";



