<div class="bg-gradient-dark text-light">

    <div class="container py-md-3">
        <div class="row justify-content-between align-items-center">
            <div class="col-4">
                <span>Built with love</span>
            </div>
            <div class="col-4  text-right">
                <a href="#" class="text-light">
                    <i data-feather="twitter"></i>
                </a>
                <a  href="#" class="text-light">
                    <i data-feather="instagram"></i>
                </a>
                <a  href="#" class="text-light">
                    <i data-feather="facebook"></i>
                </a>
            </div>
        </div>
    </div>

</div>


<!-- BOOTStrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<script>
    feather.replace()
</script>