<nav class="navbar navbar-expand-lg text-light nav-ligh">
    <a class="navbar-brand text-white font-weight-bold" href="#">Tollgator</a>
    <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon text-light"></span> -->
      <span class="text-light"><i data-feather="menu"></i></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav text-light">
        <li class="nav-item active">
          <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#features">Features</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light" href="#">Support</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-light" href="/about">About</a>
        </li>
      </ul>

      <button class="btn btn-outline-light">Get Started</button>
    </div>
  </nav>