 <div uk-lightbox>
     <div class="uk-child-width-1-4@m" uk-grid uk-lightbox="animation: slide">
            <div>
                    <a class="uk-inline"
                        href="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fsignup.png?alt=media&token=6f07baed-a65f-4510-8c5a-b0ea1ea6fc77"
                        data-caption="Caption 1">
                        <img src="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fsignup.png?alt=media&token=6f07baed-a65f-4510-8c5a-b0ea1ea6fc77"
                            alt="">
                    </a>
                </div>
         <div>
             <a class="uk-inline"
                 href="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Foffers.png?alt=media&token=e6900f32-9c51-4f8d-9b13-8dc7ec170e38"
                 data-caption="Caption 1">
                 <img src="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Foffers.png?alt=media&token=e6900f32-9c51-4f8d-9b13-8dc7ec170e38"
                     alt="">
             </a>
         </div>
         <div>
             <a class="uk-inline"
                 href="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fdetails.png?alt=media&token=e9cb074b-934a-49f1-a075-41a6265fd6e5"
                 data-caption="Caption 2">
                 <img src="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fdetails.png?alt=media&token=e9cb074b-934a-49f1-a075-41a6265fd6e5"
                     alt="">
             </a>
         </div>
         <div>
             <a class="uk-inline"
                 href="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fsubjectpage.png?alt=media&token=89310de5-6948-489d-8682-5d43b180de2b"
                 data-caption="Caption 3">
                 <img src="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fsubjectpage.png?alt=media&token=89310de5-6948-489d-8682-5d43b180de2b"
                     alt="">
             </a>
         </div>

            <div>
             <a class="uk-inline"
                 href="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fdiscover.png?alt=media&token=77f71d89-0c8d-4538-a77a-6da335f66ff3"
                 data-caption="Caption 3">
                 <img src="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fdiscover.png?alt=media&token=77f71d89-0c8d-4538-a77a-6da335f66ff3"
                     alt="">
             </a>
         </div>

            <div>
             <a class="uk-inline"
                 href="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2FArtboard%206.png?alt=media&token=5e580cfd-6052-44f3-98c2-481d8145ae7d"
                 data-caption="Caption 3">
                 <img src="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2FArtboard%206.png?alt=media&token=5e580cfd-6052-44f3-98c2-481d8145ae7d"
                     alt="">
             </a>
         </div>


     </div>
 </div>