<!DOCTYPE html>
<html>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <title><%= title %></title>
    <% include components/head %>
</head>

<body class="">

    <div class="bg-gradient-primary">
        <div class="container">
            <% include components/header %>
        </div>
    </div>

    <div class="border-bottom d-flex align-items-center justify-content-center" style="height: 20vh;
  background-position: center;
  background-size: cover;
  background-image: url('https://www.rhinegold.co.uk/wp-content/uploads/2020/03/credit-insta_photos-n-1024x525.jpg');">
        <div class="container">
        </div>
    </div>

    <div class="container-fluid ">
        <div class="row align-content-stretch align-items-stretch">
            <div class="col-7 p-5 text-justify">
                <h5> Virtual learning environment</h5>
                <p>
                    TollGator is a digital platform where learners are given the opportunity to subscribe to courses taken
                    by lecturers and instructors in different fields.
                </p>
                <p>
                    This platform provides a channel of learning via a mobile application where students and course
                    instructors can communicate and where lecture resources can be shared to learners with ease.
                </p>
                <p>
                    Resources shared include audio, videos, text and files. This platform provides a means where lecture
                    sessions can be held via chat sessions and third-party social media apps. After all lecture sessions,
                    lecture files can still be accessed on the courses lecture platform.
                </p>
                <p>
    
                    All courses can have application fee attached to them depending on what the instructor/lecturer wants.
    
                </p>
                <p>
                    Rational for this program.
                    This platform provides a means for easy interaction between teachers and learners
                    It provides a means where students offering the same course can interact irrespective of their location.
                    It provides students the ability to access lecture files even after missing the lectures for any reason.
                    It can be used as an alternative to physical lectures held in schools.
                </p>
            </div>

            <div class="col-5" style="background-color: aquamarine;">
                    dddd
            </div>
        </div>
    </div>

    <% include components/footer %>
</body>

</html>