<!DOCTYPE html>
<html>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
  <title><%= title %></title>
  <% include components/head %>
</head>

<body class="">

  <div class="position-sticky">
    <div class="bg-gradient-primary  sticky-top">
      <div class="container">
        <% include components/header %>
      </div>
    </div>
  </div>
 
  <div class="border-bottom d-flex align-items-center justify-content-cente shadow shadow-lg" style="height: 70vh;
  background-position: center;
  background-size: cover;
  background-image: url('https://www.rhinegold.co.uk/wp-content/uploads/2020/03/credit-insta_photos-n-1024x525.jpg');">
    <div class="container">
      <div class="row m-3 mx-md-0 my-md-5">
        <div class="col-md-6 text-light">
          <div class="p-3 animate__animated animate__bounceIn" style="background:rgba(0,0,0,.5);">
            <h1 class="">Africas Virtual Learning space</h1>
            <p>TollGator makes it possible for instructors and learners to connect to each other with ease.
              We do our best to provide all neccessry tools(digitally) to make lecture resources accessible to learners
              irrespective of location.
            </p>
          </div>
          <div class="animate__animated animate__bounceIn">
            <a href="https://play.google.com/store/apps/details?id=com.devcircus.teogate">
              <img width="200"
                src="https://firebasestorage.googleapis.com/v0/b/toegate-01.appspot.com/o/public%2Fgoogle-play-badge.png?alt=media&token=219f4609-e25b-48f7-b78a-b965805f4eac" />
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="border-bottom" style="height: 70vh;">
    
  </div>

  <!-- BEGIN FEATURES -->

  <div class="" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="col-6" style="height: 70vh; background-color: #45baac;">

        </div>
        <div class="col-6   d-flex flex-column justify-content-center">
          <div class="p-md-5">
            <h5 class="font-weight-bold">Create unlimited courses</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius aperiam minima quaerat earum, nobis fuga at quam ad. Autem,
              qui consequuntur. Repudiandae reprehenderit dicta perspiciatis nihil temporibus
              aperiam non possimus.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6" style="height: 70vh; background-color:#5bcb34;">

        </div>
        <div class="col-6   d-flex flex-column justify-content-center">
          <div class="p-md-5">
            <h5 class="font-weight-bold">Upload Lecture resources</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius aperiam minima quaerat earum, nobis fuga at quam ad. Autem,
              qui consequuntur. Repudiandae reprehenderit dicta perspiciatis nihil temporibus
              aperiam non possimus.</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-6" style="height: 70vh; background-color:#ff4e00;">

        </div>
        <div class="col-6   d-flex flex-column justify-content-center">
          <div class="p-md-5">
            <h5 class="font-weight-bold">Upload Lecture resources</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Eius aperiam minima quaerat earum, nobis fuga at quam ad. Autem,
              qui consequuntur. Repudiandae reprehenderit dicta perspiciatis nihil temporibus
              aperiam non possimus.</p>
          </div>
        </div>


      </div>


    </div>

    <% include components/footer %>
</body>

</html>